{% extends 'crona/base.html'%}
{% block title %}
    About us
  {% endblock %}
{% block style %}
 .imgg{
   display:flex;
   flex-wrap:wrap;
   justify-content:center;
 }
 img{
   width:150px;
   margin:20px;
   border-radius:10px;
 }
 li{
   color:#dc3545;
   list-style-type:none;
   text-align:center;

 }
 .jumbotron{
       background-color: #fff;
 }
 {% endblock %}
{% block body %}
      <div class="jumbotron">
        <h1 class="display-5 text-center">Who We Are ?</h1>
        <p class="lead text-center">We are the developer | programmers | coder  from SE7EN INTERNATIONAL CODING COMMUNITY</p>
        
        <p class="lead text-center">Ther is only slogan for Covid-19 </p>
        <h1 class=" text-danger text-center">Keep Distance keep Safe</h1>
        <hr class="my-4">
      </div>
      <div class="mb-5 imgg">
          <div class="">
                <li> <img src="/static/images/deepak-2.jpg" alt="no"></li>
                <li><strong style="text-align:center;">Deepak Bhamla</strong></li>
          </div>
          <div class="">
                <li><img src="/static/images/rohit.jpeg" alt="no"></li>
                <li><strong>Rohit Ahuja</strong></li>
          </div>
          <div class="">
                <li><img src="/static/images/bhavish.jpeg" alt="no"></li>
                <li><strong>Bhavish Rohilla</strong></li>
          </div>
          <div class="">
                <li><img src="/static/images/dhyani.jpeg" alt="no"></li>
                <li><strong>Vijay Dhyani </strong></li>
          </div>
          <div class="">
                <li><img src="/static/images/harshit.jpeg" alt="no"></li>
                <li><strong>Harshit Soni </strong></li>
          </div>
          <div class="">
                <li><img src="/static/images/alankar.jpeg" alt="no"></li>
                <li><strong>Alankar Shukla </strong></li>
          </div>

          <div class="">
                <li><img src="/static/images/addy.jpeg" alt="no"></li>
                <li><strong>Aditya Yadav </strong></li>
          </div>


    </div>

{% endblock %}
