{% extends 'Crona/base.html'%}
{% block title %}
    SE7EN | COVID-19
{% endblock %}
{% block style %}
    .box{
      margin:10px;
      width:200px;
      height:100px;
      text-align:center;
      border-radius:10px;
      <!-- background:#007BFF; -->
    }
    .row{
      margin:10px;
      display:flex:
      flex-wrap:no-wrap;
      justify-content:center;

    }
    img {
    vertical-align: middle;
    border-style: none;
    /* width: 55%; */
    /* height: 10%; */
    max-width: -webkit-fill-available;
}
p {
    margin: 15px;
    margin-bottom: 1rem;
    font-size: 20px;
}
.imgg{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
}
.jumbotron{
  background-color: #e57373;
  color:#fff;
}
thead{
  background-color:#ef9a9a;
  color:#fff;
  text-align:center;
}
.list-group-item{
  
}
.state{
  font-weight:700;
  font-size:17px;
  width:100%;
  margin-right:40px;
  
}
.total{
  font-weight:750;
  font-size:18px;
  padding:5px;
  border-radius:10px;
  margin:20px;
  color:#fff;
  background-color:rgba(0,0,255,0.5);
  
}
.recover,.death,.active{
  font-weight:750;
  font-size:18px;
  color:#fff;
  background-color:#ef9a9a;
  padding:5px 10px;
  border-radius:10px;
  margin:20px;
  
}
.recover{
  background-color:#81c784;
}
.active{
  background-color:#2196f3;

}
.index{
  font-size:18px;
  color:#fff;
  padding:10px 10px;
  border-radius:5px;
  margin:20px;

  width:100px;
  height:20px;
}
.list-group-item {
  cursor:pointer;
  transition:all 0.5s;
  animation: infinite bounce delay-2s;

}
.list-group-item:hover{
  background-color:#ede7f6;
  
}
.container{
  display:flex;
  justify-content:center;
  text-align:center;
  text-transform:uppercase;
  flex-wrap:wrap;
}
.box1{
  border-bottom: 5px solid rgba(0,0,255,0.5);
  color:rgba(0,0,255,0.5);
}
.box2{
  border-bottom: 5px solid #81c784;
  color:#81c784;

}
.box3{
  border-bottom: 5px solid #ef9a9a;
    color:#ef9a9a;

}
.box4{
  border-bottom: 5px solid #2196f3;
  color:#2196f3;
}
.box{
  margin:10px;
  margin-bottom:20px;
}

@media only screen and (max-width: 600px) {
  .state,.recover,.death,.total,.active{
    font-size:12px;
    margin:3px;
  }
  .index{
  font-size:10px;
    color:#FFFFFF;
    padding:10px;
    border-radius:5px;
    margin:0px 5px;
   
    width:100px;
    height:20px;
  }
  
}

{% endblock %}

{% block body %}

<div class="jumbotron  jumbotron-fluid">
    <h3 class="mt-5 text-uppercase text-center ">Stay Home Stay Safe</h3>
  
</div>
      <div class="container">
      <div class="box1 box">
           <p>Total</p>
           <p><strong>{{ ttl}}</strong></p>
      </div>
      <div class="box4 box">
        <p>Active</p>
        <p><strong>{{ act}}</strong></p>
   </div>

      <div class="box2 box">
        <p>Cured</p>
        <p><strong>{{cur}}</strong></p>
      </div>
      <div class="box3 box">
        <p>Deaths</p>
        <p><strong>{{de}}</strong></p>
      </div>
  </div>
      {% if performance %}

        {% for data in performance %}
            
          <li class=" list-group-item  id="data" ">
           <span  class="state text-center ">{{data.0|truncatechars:22}}</span>
           <span title="Total Cases" class="total animated infinite bounce delay-2s ">{{data.1}}</span>
           <span title="Active Cases" class="active">{{data.2}}</span>

           <span title="Recover Cases" class="recover ">{{data.3}}</span>
           <span title="Died Cases" class="death">{{data.4}}</span>
           
          </li>
            
        {% endfor %}
      {% endif %}
    </ul>
           
    
{% endblock %}
