{% extends 'crona/base.html'%}
{% block title %}
    Cronavirus | prevention
{% endblock %}
{% block style %}
 .imgg{
   display:flex;
   flex-wrap:wrap;
   justify-content:center;
 }
 img{
   width:200px;
   margin:20px;
 }
 li{
   color:#428bca;
   list-style-type:none;
   text-align:center;

 }
 .jumbotron{
      background-color: #fff;
}

 {% endblock %}
{% block body %}
      <div class="jumbotron">
         <p class="lead">There’s currently no vaccine to prevent coronavirus disease (COVID-19)</p>
        <p>Source: World Health Organization</p>
        <hr class="my-4">
        <h3 style="" class="text-center m-5">Prevention </h3>
    <div class="m-2 imgg">
        <div class="">
              <li><strong style="text-align:center;">Wash your hands</strong></li>
              <li> <img src="/static/images/wash-hands.jpg" alt="no"></li>
        </div>
        <div class="">
              <li><strong>Cough Into Elbow</strong></li>
              <li><img src="/static/images/elbown.jpg" alt="no"></li>
        </div>
        <div class="">
              <li><strong>Dont Touch Face</strong></li>
              <li><img src="/static/images/touch.jpg" alt="no"></li>
        </div>
        <div class="">
              <li><strong>Stay at Home </strong></li>
              <li><img src="/static/images/stay.jpg" alt="no"></li>
        </div>
        <div class="">
              <li><strong>Keep Distance </strong></li>
              <li><img src="/static/images/keep-1.png" alt="no"></li>
        </div>

  </div>
 </div>
{% endblock %}
